/* TextAnimation.css */

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    /* Adjust bounce height as needed */
  }
}

.animate-custom-bounce {
  animation: custom-bounce 3s infinite;
  /* Adjust duration as needed */
}

.NormalCharacterStyle {
  font-family: Algerian;
  color: white;
}

@media screen and (max-width: 576px) {
  .NormalCharacterStyle {
    font-size: 12px;
  }
}
