.slider-container {
  margin: 20px;
  /* Add desired margin around the slider container */
}

.card {
  margin: 0 10px;
  /* Add desired space between the cards */
}

.rtl-flip-image {
  transform: scaleX(-1);
}
